#footer {
    text-align: center;
    clear: both;

    p {
        width: 90%;
        text-align: center;
        margin: 0 auto; 
        margin-bottom: 15px;
    }

    .footer-content {
        width: 50%;
        margin: 0 auto;

        p {
            padding-top: 60px;
            font-size: $baseFont;
            font-weight: $baseWeight;
            text-align: center;
        }
    }

    .legend {
        text-align: left; 
        list-style: none;
        margin-left: 0;
        padding-left: 0;
        margin-top: 40px;
        li {
            padding-left: 0;
            width: 90%;
            margin: 0 auto;
            margin-bottom: 10px;
        }
    }
}
